/* Header & Nav Content w/ Page info */
body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

/* Main Body & Layout */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Header */
header {
  background-color: #171E24;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 150px;
  height: auto;
}

/* Hamburger Menu */
.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  order: 3;
}

.menu-toggle:focus {
  outline: none;
}

.menu-toggle .hamburger,
.menu-toggle .hamburger:before,
.menu-toggle .hamburger:after {
  content: '';
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 5px 0;
}

/* Navigation */
nav {
  display: none;
  order: 2;
}

header.nav-open nav {
  display: block;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: right;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
}

nav ul li a:hover {
  background-color: #E46610;
  border-radius: 5px;
}

body, html {
  margin: 0;
  padding: 0;
}

/* Live background */
#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.timeline {
  width: 1200px;
  padding-bottom: 5%;
}

/* Content sections */
.content1,
.content2,
.content3,
.content4,
.content5 {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 1400px;
  padding-right: 5%;
}


.content1 {
  position: absolute;
  top: 250px;
  left: 20%;
}

.content2 {
  position: absolute;
  top: 1240px;
  left: 20%;
}

.content3 {
  position: absolute;
  top: 2200px;
  left: 20%;
}

.content4 {
  position: absolute;
  top: 3200px;
  left: 20%;
}

.content5 {
  position: absolute;
  top: 4200px;
  left: 20%;
}

.timeline-image {
  width: 200px;
  height: auto;
}

/* Mobile Compatibility */
@media screen and (max-width: 768px) {
  .timeline {
    width: 400px;
  }

  .content1,
  .content2,
  .content3,
  .content4,
  .content5 {
    width: 70%;
    font-size: 70%;
  }

  .content1 {
    position: absolute;
    top: 12%;
    left: 10%;
  }

  .content2 {
    position: absolute;
    top: 50%;
    left: 10%;
  }

  .content3 {
    position: absolute;
    top: 90%;
    left: 10%;
  }

  .content4 {
    position: absolute;
    top: 130%;
    left: 10%;
  }

  .content5 {
    position: absolute;
    top: 170%;
    left: 10%;
    padding-bottom: 10%;
  }
}

/* Footer */
footer {
  background-color: #171E24;
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
