/* Header & Nav Content w/ Page info */
body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

/* Main Body & Layout */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Header */
header {
  background-color: #171E24;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 99%;
}

header img {
  width: 150px;
  height: auto;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  order: 3;
}

.menu-toggle:focus {
  outline: none;
}

.menu-toggle .hamburger,
.menu-toggle .hamburger:before,
.menu-toggle .hamburger:after {
  content: '';
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 5px 0;
}

nav {
  display: none;
  order: 2;
}

header.nav-open nav {
  display: block;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: right;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
}

nav ul li a:hover {
  background-color: #E46610;
  border-radius: 5px;
}

/* Main Content Section */
main {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: calc(100vh - 80px);
  width: 5000px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1;
}

/* Live background */
#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* Timeline Section */
.timeline-section {
  position: relative;
  width: calc(100% + 20px);
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 20px;
  display: flex;
  gap: 20px;
  z-index: 2;
}

.timeline {
  position: absolute;
  top: 504px;
  left: 0;
  width: 100%;
}

.timeline-image {
  padding-top: 10px;
  position: relative;
  width: 350px;
  height: auto;
  z-index: 2;
}

/* Content Styling */
.content1,
.content2,
.content3,
.content4,
.content5 {
  margin-top: 50px;
  margin-left: 80px;
  flex: 0 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width:800px;
  height:500px
}

/* Mobile Compatibility */
@media screen and (max-width: 768px) {
    .main-content {
        padding: 0 10%;
    }

    .content1,
    .content2,
    .content3,
    .content4,
    .content5 {
        width: 100%;
        font-size: 70%;
    }
}
