/* Header & Nav Content w/ Page info */
body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

/* Main Body & Layout */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Header */
header {
  background-color: #171E24;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 99%;
}

header img {
  width: 150px;
  height: auto;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  order: 3;
}

.menu-toggle:focus {
  outline: none;
}

.menu-toggle .hamburger,
.menu-toggle .hamburger:before,
.menu-toggle .hamburger:after {
  content: '';
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 5px 0;
}

nav {
  display: none;
  order: 2;
}

header.nav-open nav {
  display: block;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: right;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
}

nav ul li a:hover {
  background-color: #E46610;
  border-radius: 5px;
}

#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* Motorsport Cards */
.motorsport-cards {
  display: flex;
  margin: 70px;
  padding: 20px;
}

.card {
  position: relative;
  flex: 1;
  border-radius: 5px;
  margin-right: 20px;
  opacity: 0;
  animation: cardPop 0.5s forwards; /* CSS Animation Pop In */
}

/* CSS Animation Pop In Frame Time */
.card:nth-child(1) {
  animation-delay: 0.5s;
}

.card:nth-child(2) {
  animation-delay: 1s;
}

.card:nth-child(3) {
  animation-delay: 1.5s;
}

.card:nth-child(4) {
  animation-delay: 2s;
}

.card:nth-child(5) {
  animation-delay: 2.5s;
}

.card img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}

.card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #252423;
  opacity: 0.7;
}

.card-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}

/* Define keyframes for the animation */
@keyframes cardPop {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Mobile Compatibility */
@media only screen and (max-width: 768px) {
  .motorsport-cards {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}