/* Main Body & Layout */
body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Logo */
header {
  background-color: #171E24;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 150px;
  height: auto;
}

/* Hamburger Menu */
.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  order: 3;
}

.menu-toggle:focus {
  outline: none;
}

.menu-toggle .hamburger,
.menu-toggle .hamburger:before,
.menu-toggle .hamburger:after {
  content: '';
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 5px 0;
}

/* Navigation */
nav {
  display: none;
  order: 2;
}

header.nav-open nav {
  display: block;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: right;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
}

nav ul li a:hover {
  background-color: #E46610;
  border-radius: 5px;
}

/* Main Image */
section img {
  width: 100%;
  height: auto;
}

/* Main Content Section */
section {
  margin-bottom: 40px;
  text-align: center;
}

.brief-history h2, .origins h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.brief-history p, .origins p {
  color: #555;
  font-size: 16px;
  line-height: 1.6;
}

.brief-history p:first-child, .origins p:first-child {
  font-weight: bold;
}

.brief-history p, .origins p {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
  background-color: #171E24;
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
