/* Header & Nav Content w/ Page info */
body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

/* Main Body & Layout */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Header */
header {
  background-color: #171E24;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 150px;
  height: auto;
}

/* Hamburger Menu */
.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  order: 3;
}

.menu-toggle:focus {
  outline: none;
}

.menu-toggle .hamburger,
.menu-toggle .hamburger:before,
.menu-toggle .hamburger:after {
  content: '';
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 5px 0;
}

/* Navigation */
nav {
  display: none;
  order: 2;
}

header.nav-open nav {
  display: block;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: right;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
}

nav ul li a:hover {
  background-color: #E46610;
  border-radius: 5px;
}

/* Homepage Content */
/* Main Image */
section img {
  width: 100%;
  height: auto;
}

/* Main Content Section */
section {
  margin-bottom: 40px;
  text-align: center;
}

section p {
  color: black;
  font-size: 16px;
  line-height: 1.6;
  padding: 15px;
}

/* Section Styling */
.origins {
  margin-bottom: 80px;
}

/* Image gallery */
.image-gallery {
  background-color: #95bac2;
  padding: 20px 0;
}

.gallery {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
}

.gallery-item {
  flex: 1;
  text-align: center;
  margin: 0 10px;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.gallery-item .date {
  color: #f53533;
  font-size: 14px;
  font-weight: bold;
}

/* Footer */
footer {
  background-color: #171E24;
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
