/* Header & Nav Content w/ Page info */
body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

/* Main Body & Layout */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #95bac2;
}

/* Header */
header {
  background-color: #171E24;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 150px;
  height: auto;
}

/* Hamburger Menu */
.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  order: 3;
}

.menu-toggle:focus {
  outline: none;
}

.menu-toggle .hamburger,
.menu-toggle .hamburger:before,
.menu-toggle .hamburger:after {
  content: '';
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 5px 0;
}

/* Navigation */
nav {
  display: none;
  order: 2;
}

header.nav-open nav {
  display: block;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: right;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
}

nav ul li a:hover {
  background-color: #E46610;
  border-radius: 5px;
}

/* Supercar Page */
body {
  padding-left: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 1100px;
}

img {
  max-width: 100%;
  margin: 10px;
}

img[src="../assets/engine.png"],
img[src="../assets/gtr2.png"] {
  width: 200px;
}

img[src="../assets/gtr2.png"] {
  width: 600px;
}

.sidebar {
  width: 500px;
  padding: 10px;
  background-color: #f1f1f1;
}

.spec-list {
  list-style-type: none;
}

.hover-text {
  position: absolute;
  bottom: 180px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: none;
  font-size: 24px;
}

.hover-area:hover + #hover-text {
  display: block;
}

/* Footer */
footer {
  background-color: #171E24;
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
